*{
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: orange;
    
    height: 100vh;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;

}
.wrapper{

}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
  }
  button{
    background-color: orange;
    color:white;
    border: solid 1px white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
     outline: none;
  }